#root {
 background-color: rgb(238, 238, 238);
 padding-top: 3%;
}

.resume-container {
  background-color: white;
  max-width: 21cm;
  max-height: 29.7cm;
  margin: auto;
  padding: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
}

h1 {
  margin: 0;
  padding: 0;
}